html {
    background: black;
  }

.all {
    overflow: hidden;
}

.firsttext {
font-family: 'TTFirsNeue-Medium';
src: url(../fonts/TTFirsNeue/TTFirsNeue-Medium.ttf) format('truetype');
color: #FFF;
text-align: justify;
font-size: 180px;
font-style: normal;
font-weight: 500;
line-height: 80%; /* 123.2px */
letter-spacing: -4.62px;
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
position: relative;
z-index: 11s;
filter: blur(13px);
transition: 1s;
}

.firsttext:hover {filter: blur(3px);}

.blur {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        transition: .5s;
}

.star {
    position: absolute;
    margin-top: -800px;
    margin-left: 800px;
    z-index: 1;
}

.img1 {
   position: relative;
   
    height: 480px;
    margin-top: 50px;
    animation: one 4s linear infinite;
  animation-play-state: running;
  z-index: 101;
}

.img1:hover  {animation-play-state: paused;}

@keyframes one {
    0% {left: 0px}
    100% {left: -1350px}
}

.handd{
    height: 100px;
    position:relative;
    margin-top: -5px;
    z-index: 101;

  }
  .handd img {

    position:absolute;
  
    left: 0; 
  
    top: 0; 
  
  }
  .handd img.hand1 { 

    opacity:0;
  
    filter:alpha (opacity=0);
  
  }
  
  .handd:hover img.hand1 { 
  
    opacity:1;
  
    filter:alpha (opacity=100);
  
  }
  
  .handd:hover img.hand2, .handd img.hand2:hover { 
    opacity:0;
  
    filter:alpha (opacity=0);
  
  }


.img3 {
    height: 900px;
    margin-top: 0px;
   margin-left: 650px;
   z-index: 1;
}

.img4 {
    margin-top: -100px;
    height: 1000px;
    z-index: 1;
}

.img5 {
    margin-top: -1000px;
    margin-left: 1050px;
    height: 1100px;
    z-index: 1;
}

.text2 {
    color: #FFF;
    font-family: 'TTFirsNeue-Regular';
    src: url(../fonts/TTFirsNeue/TTFirsNeue-Regular.ttf) format('truetype');
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    margin-left: 1140px;
    margin-top: -750px;
    z-index: 110;
}

.text2:hover {
    width: 90%;
    line-height: 50px;
    letter-spacing: 0.0125em;
    transition: all .5s ease-out;}

.img6 {
    margin-top: 450px;
    position: relative;
    z-index: 1;
}

.img7 {
    position: absolute;
    height: 170px;
    margin-top: -200px;
    left: 1485px;
    mix-blend-mode: multiply;
    z-index: 1;
    animation: 3s linear infinite rotate;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
.name {
    position: absolute;
    color: #000;
    font-family: 'TTFirsNeue-Regular';
    src: url(../fonts/TTFirsNeue/TTFirsNeue-Regular.ttf) format('truetype');
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%; /* 45px */
    text-transform: uppercase;
    margin-top: -90px;
    left: 40px;
    z-index: 1;

}

.minitext {
    color: #FFF;
    font-family: 'TTFirsNeue-Medium';
    src: url(../fonts/TTFirsNeue/TTFirsNeue-Medium.ttf) format('truetype');
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 100px */
    letter-spacing: -6px;
    text-align: right;
    filter: blur(3px);
    position: absolute;
    margin-top: -700px;
    margin-left: 900px;
    overflow: hidden;
    mix-blend-mode: exclusion;
    animation: first 10s infinite ease-out;
    z-index: 1;
}
@keyframes first{
    0% {transform: translate(50px, -50px)}
    20% {transform: translate(-200px, 50px)}
    40% {transform: translate(-200px, -50px)}
    80% {transform: translate(240px, 233px)}
    100% {transform: translate(50px, -50px);}  
}


.minitext2 {
    color: #FFF;
    font-family: 'TTFirsNeue-Medium';
    src: url(../fonts/TTFirsNeue/TTFirsNeue-Medium.ttf) format('truetype');
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 100px */
    letter-spacing: -6px;
    text-align: right;
    filter: blur(3px);
    position: absolute;
    margin-top: -450px;
    margin-left: 800px;
    overflow: hidden;
    mix-blend-mode: exclusion;
    animation: second 30s infinite ease-out;
}

@keyframes second{
    0% {transform: translate(-80px, 80px)}
    20% {transform: translate(-100px, 200px)}
    40% {transform: translate(500px, -200px)}
    80% {transform: translate(-100px, -400px)}
    100% {transform: translate(-80px, 80px);}  
}

.minitext3 {
    color: #FFF;
    font-family: 'TTFirsNeue-Medium';
    src: url(../fonts/TTFirsNeue/TTFirsNeue-Medium.ttf) format('truetype');
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 100px */
    letter-spacing: -6px;
    text-align: right;
    filter: blur(3px);
    position: absolute;
    margin-top: -300px;
    margin-left: 1300px;
    overflow: hidden;
    mix-blend-mode: exclusion;
    animation: third 20s infinite ease-out;
}

@keyframes third{
    0% {transform: translate(-50px, 50px)}
    20% {transform: translate(50px, -200px)}
    40% {transform: translate(-400px, -300px)}
    80% {transform: translate(0px, 200px)}
    100% {transform: translate(-50px, 50px);}  
}

.circles {
    width: 959px;
    height: 959px;
    display: block;
    position: relative;
    background: url("../img/anim.png");
    animation: walk 1.5s steps(1) infinite;
    z-index: 1;
}
@keyframes walk {
    0%{ background-position: 0px top;}
    20%{ background-position: -959px top;}
    40%{ background-position: -959px top;}
    60%{ background-position: -1918px top;}
    80%{ background-position: -3836px top;}
    100%{ background-position: -7276px top;}
}

.logo {
    position: absolute;
    height: 100px;
    left: 1530px;
    top: 50px;
}

/* .Noise {
   height: 100%;
    width: 100%;
    position: absolute ;
    z-index: 100;
    mix-blend-mode: soft-light;
   }

.noiseimg {
    width: 100%;
    mix-blend-mode: soft-light;
} */